.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: #9575cd;
  color: floralwhite;
  border-radius: 0%;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.history {
  min-height: 400px;
  padding: 50px 0px 50px 0px;
}

.executive-chief {
  padding-bottom: 50px;
}

.corporate-leadership {
  padding-top: 50px;
}

body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.navbar-dark {
  background: #512da8;
}

#index-form-button {
  padding-left: 40px;
  padding-right: 40px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 5px;
}

.carousel {
  background: #512da8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
